/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

.hamburger {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
}

.logo img {
    height: 40px;
    object-fit: contain;
}

/* Sidebar Styles */
.primary-nav {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    /* Darker background for the sidebar */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 100;
}

.primary-nav a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 24px;
    color: #eaeef1;
    display: block;
    transition: 0.3s;
}

.primary-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Highlight links with hover effect */
}

.primary-nav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    color: #ffffff;
}

.sidebar {
    list-style-type: none;
    padding-left: 0px;
}

/* Draft Container */
.draft-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.draft-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.enhance-btn,
.prev-btn,
.next-btn,
.export-btn {
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.enhance-btn {
    background-color: rgba(0, 150, 136, 0.8);
    color: white;
    border: none;
}

.enhance-btn:hover {
    background-color: #ffffff;
    /* Darker green on hover */
    color: #000;
}

.navigation-buttons button {
    background-color: rgba(232, 182, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border: none;
    margin: 0 4px;
}

.navigation-buttons button:hover {
    background-color: #ffffff;
    /* Darker green on hover */
    color: #000;
}

.export-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Draft Text Area */
.draft-text-container {
    height: 70vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
    color: black;
}

textarea {
    width: 100%;
    /* height: 100%; */
    border: none;
    /* outline: none; */
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* padding: 5px; */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    resize: vertical;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .draft-container {
        width: 95%;
    }

    .draft-header {
        flex-direction: column;
        align-items: flex-start;

    }

    .navigation-buttons button {
        margin: 10px 0;
    }
}

/* Title and Genre */
.title-genre {
    margin-bottom: 20px;
}

.title-genre h2,
.title-genre p {
    margin: 0;
}

/* Dialogue Container */
.dialogue {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(233 233 233);
    border-radius: 8px;
}

/* Three Dots Menu */
.three-dots {
    position: relative;
    left: 8px;
    font-size: 20px;
    cursor: pointer;
}

.dialogue:hover .three-dots {
    color: white;
}

/* Hover Buttons */
.hover-buttons {
    display: none;
    margin-top: 10px;
    gap: 5px;
}

.dialogue:hover .hover-buttons {
    display: flex;
}

.hover-buttons button {
    background-color: rgba(0, 150, 136, 0.8);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.hover-buttons button:hover {
    background-color: rgba(0, 150, 136, 1);
}


/* Popup Menu Styles */
.popup-menu {
    display: none;
    /* Initially hidden */
    position: relative;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-menu button {
    background-color: rgba(32, 46, 103, 0.8);
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
}

.popup-menu button:hover {
    background-color: rgba(0, 150, 136, 1);
}

/* Modal Background */
.popup-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.popupcontent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
}

.popupcontent h3 {
    margin-bottom: 10px;
    color: #333;
}

.popupcontent textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    font-size: 14px;
    resize: none;
}

.popup-buttons button {
    background-color: #00897b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-buttons button:hover {
    background-color: #00796b;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.close-modal:hover {
    color: #f44336;
}

/* Popup Modal Styles */
.popup-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupcontent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
}

.popupcontent h3 {
    margin-bottom: 10px;
    color: #333;
}

.popupcontent textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    font-size: 14px;
    resize: none;
}

.popup-buttons button {
    background-color: #9747FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-buttons button:hover {
    background-color: #E8B600;
}

/* AI Feedback Section */
.ai-feedback-section {
    display: none;
    /* Hidden by default */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}

.ai-feedback-section p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

/* Button Style */
.export-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.exportlogo {
    width: 24px;
    margin-left: 8px;
}

.bling_blinglogo {
    width: 24px;
    margin-left: 4px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.importlogo {
    width: 24px;
    margin-left: 8px;
}

.subtitle {
    margin-top: 4px;
    margin-bottom: 4px;
}

.magic-btn {
    display: flex;
    align-items: center;
    background-color: rgba(232, 182, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.magiclogo {
    width: 24px;
    margin-left: 4px;
}

.magicpopup-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.magicpopupcontent {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* Confirm Content */
.popup-content {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
}

.confirmbutton {
    background-color: #9747FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.confirmbutton:hover {
    background-color: #FFC800;
}

.confirm-close-modal {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}